a {
  text-decoration: none;
}

form {
  color: gray;
}

button {
  padding: 7px 10px;
  border: none;

  background-color: lightgray;
}

input {
  padding: 5px 10px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
  border: solid 2px gold;
}

.table {
  padding: 0 10px;
}

.table .button-inline {
  text-align: center;

  padding: 10px 0;
  width: 100%;
  border: none;
  border-radius: 8px;

  background-color: lightgray;
}

.table .button-inline:hover {
  background-color: skyblue;
}

.table-header {
  border-bottom: solid 2px black;
}

.table .table-header > span {
  text-align: center;

  line-height: 2.3;
}

.table .table-header > span > button {
  overflow: hidden;
  text-align: left;

  padding: 0;
  border-radius: unset;

  font-weight: bold;
  line-height: inherit;
  text-indent: 5px;
  text-overflow: inherit;

  background-color: transparent;
}

.table .table-header > span > .button-active {
  background-color: gold;
}

.table .table-row {
  align-items: center;
  justify-content: flex-end;

  margin-top: 10px;
  border-radius: 8px;

  background-color: transparent;
}
